html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.form{
  border: 0.5px solid limegreen;
  width:400px;
  height: 300px;
  margin-left: 5%;
  margin-top:5%;
 margin-right: 5%;
  
}
div{
  margin-top: 80px;
  margin-left: 50px;
  list-style: none;
}
button{
  font-size: 25px;
  border-radius: 5%;
  background-color: limegreen ;
  color: white ;
  border:none;
}